<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${taskEditCommand}" th:action="@{/task/{id}/update(id=${taskEditCommand.id})}" method="POST">

    <label for="description">Description</label>
    <input id="description" type="text" th:field="*{description}">

    <th:block th:each="employee : ${employees}">
        <div>
            <th:block th:if="${taskEditCommand.employeeIds.contains(employee.id)}">
            <label th:for="'employee-' + ${employee.id}" th:text="${employee.name} + '-' + ${employee.email}"></label>
            <input th:id="'employee-' + ${employee.id}" type="checkbox" th:field="*{employeeIds}" th:value="${employee.id}" checked="checked">
            </th:block>
            <th:block th:unless="${taskEditCommand.employeeIds.contains(employee.id)}">
                <label th:for="'employee-' + ${employee.id}" th:text="${employee.name} + '-' + ${employee.email}"></label>
                <input th:id="'employee-' + ${employee.id}" type="checkbox" th:field="*{employeeIds}" th:value="${employee.id}">
            </th:block>
        </div>
    </th:block>

    <button type="submit">Save</button>
</form>
</body>
</html>