<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="META">
    <!--META-->
    <meta charset="UTF-8">
    <meta name="application-name" content="Spring CRUD Demo">
    <meta name="author" content="Ivan Denchev">
    <meta name="designer" content="Le Ivan Denchev 🎨">
    <meta name="description" content="A Demo CRUD Application built with Spring Boot">

    <!--Twitter-->
    <!--Facebook-->
    <!--META-->

    <title>{TH:Title Goes Here}</title>

    <!--LINKS-->
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="canonical" href="http://{TH:CANONICAL_URL}">
    <link rel="license" href="https://www.gnu.org/licenses/gpl-3.0.en.html">
    <!--LINKS-->
</head>
<body>

</body>
</html>